<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registrarse</ion-title>   
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Cedula" [(ngModel)]="cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Telefono" [(ngModel)]="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="password" placeholder="Confirme su Contraseña" [(ngModel)]="confirmpassword"></ion-input>
    </ion-item>  
   
    <ion-button expand="full" class="no-padding" color="success" (click)="TryRegister()" [disabled]=""disabledButton>Registrarse</ion-button>
    
  </ion-list>
  </ion-content>